@font-face {
  font-family: "Blogh";
  src: url("./Blogh.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "FuturaBkBTBook1";
  src: url("./FuturaBkBTBook1.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src: url("./MonumentExtended-Ultrabold.otf") format("opentype");
  font-display: swap;
}
