@font-face {
  font-family: "Blogh";
  src:
    local("Blogh"),
    url("../assets/fonts/Blogh.otf") format("opentype");
}
@font-face {
  font-family: "Halogen-Regular";
  src:
    local("Halogen-Regular"),
    url("../assets/fonts/Halogen-Regular.otf") format("opentype");
}
@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src:
    local("MonumentExtended-Ultrabold"),
    url("../assets/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}
@font-face {
  font-family: "RussoOne-Regular";
  src:
    local("RussoOne-Regular"),
    url("../assets/fonts/RussoOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MonumentExtended-Ultrabold";
  src:
    local("MonumentExtended-Ultrabold"),
    url("../assets/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
}
@font-face {
  font-family: "Halogen-Black";
  src:
    local("Halogen-Black"),
    url("../assets/fonts/Halogen-Black.otf") format("opentype");
}

html,
body,
* {
  font-family: "Halogen-Regular";
}

.title {
  padding: 0;
  font-family: "Halogen-Regular";
  color: white;
  font-size: 3.5em;
  margin-top: 0px;
  text-align: right;
  max-width: 400px;
}

@media screen and (max-width: 500px) {
  .title {
    padding: 20px;
    font-size: 2.5em;
    margin-top: 50px;
    text-align: center;
  }
}

.header {
  font-family: "Halogen-Regular";
  align-items: center;
  justify-self: center;
  justify-content: center;
}
/* ====== MENU QKL FEST: texto cambia de color al seleccionar ====== */

.label-header-not-selected {
  background-color: transparent;
  color: #ffffff;
  font-size: 1.2em;
  text-transform: uppercase;
  border: none;
  padding: 3px 5px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.2s ease;
  font-family: "Blogh";
}

.label-header-not-selected:hover {
  color: #ff6555;
}

.label-header-selected {
  background-color: transparent;
  color: #ff6555;
  font-size: 1.2em;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid #ff6555;
  padding: 6px 5px;
  cursor: pointer;
  font-family: "Blogh";
}

/* SUBMENUS */
.submenu-container {
  position: relative;
}

.submenu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 38, 84, 0.9);
  padding: 8px 0;

  z-index: 3200;
  font-family: "RussoOne-Regular";
}

.submenu-item {
  background: none;
  border: none;
  color: white;
  padding: 8px 20px;
  width: 100%;
  text-align: left;
  font-size: 1.2em;
  cursor: pointer;
  font-family: "RussoOne-Regular";
  z-index: 3200;
}

.submenu-item:hover {
  background-color: #3b4b95ff;
  z-index: 3200;
}

.timeTitle {
  font-family: "Blogh";
  font-size: 3em;
  padding: 0.5em;
  color: #fff;
}
.timeTitleValues {
  font-family: "Blogh";
  font-size: 2em;
  padding: 0.5em;
  margin-top: 0.5%;
  color: #fff;
}
.timeTitleXL {
  font-family: "Blogh";
  font-size: 4em;
  padding: 1em;
  color: white;
}
.timeTitle300 {
  font-family: "Blogh";
  font-size: 1.8em;
  padding: 1;
  color: white;
}
.timeTitleR {
  font-family: "Blogh";
  font-size: 2.4em;
  margen-top: "-10%";
  color: white;
}

.timeTitle_gracias {
  font-family: "Blogh";
  font-size: 3em;
  color: white;
}

.timeTitle_gracias_link {
  font-family: "Blogh";
  font-size: 2em;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.timeTitle_ing {
  font-family: "Blogh";
  font-size: 3em;
  padding: 1em;
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.timeValue {
  font-family: "RussoOne-Regular";
  margin-top: -3rem;
  font-size: 7rem;
  padding: 2px;
  color: white;
}
.timeValueXL {
  font-family: "RussoOne-Regular";
  margin-top: -3rem;
  font-size: 5rem;
  padding: 2px;
  color: white;
}
.timeValue300 {
  font-family: "RussoOne-Regular";
  margin-top: 0.2em;
  font-size: 2rem;
  padding: 2px;
  color: white;
}
.timeValueB {
  font-family: "RussoOne-Regular";
  margin-top: -2em;
  font-size: 5em;
  color: white;
}
.timeValueR {
  font-family: "RussoOne-Regular";
  font-size: 3.1em;
  color: white;
}
.timeTitlexs {
  font-family: "Blogh";
  font-size: 2.4em;
  margen-top: "-10%";
  color: white;
}
.timeValueRB {
  font-family: "RussoOne-Regular";
  margin-top: -2em;
  font-size: 3em;
  padding: 5px;
  color: white;
}

.timeValueLabel {
  font-family: "Halogen-Regular";
  margin-top: -10%;
  font-size: 1.1em;
  padding: 5px;
  text-align: center;
  color: white;
}
.timeValueLabelXL {
  font-family: "RussoOne-Regular";
  margin-top: -10px;
  font-size: 2.1em;
  padding: 5px;
  text-align: center;
  color: white;
}
.timeValueLabel300 {
  font-family: "RussoOne-Regular";
  margin-top: -10px;
  font-size: 0.8em;
  padding: 5px;
  text-align: center;
  color: white;
}
.timeValueLabelR {
  font-family: "RussoOne-Regular";
  font-size: 0.7em;
  padding: 1px;
  text-align: center;
  color: white;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}

.no-outline:focus {
  outline: none;
}
/* span.carousel-control-next-icon {
    background-image : url('../assets/up_red.png')

} */

#container {
  width: 100%;
  text-align: center;
}

#left {
  float: left;
  width: 100px;
}

.radioB {
  margin-left: 5px;
}

#center {
  display: inline-block;
  margin: 0 auto;
  width: 100px;
}
.textForm {
  font-family: "Halogen-Regular";
  font-size: 1em;
  color: #000000;
  margin: 0;
}
.textFormW {
  font-family: "Halogen-Regular";
  font-size: 1em;
  color: #000000;
  margin: 0;
}
.textFormError {
  font-family: "Halogen-Regular";
  font-size: 1em;
  color: #ff0000;
  margin: 0;
}
.textTerm {
  font-family: "Halogen-Regular";
  font-size: 0.8em;
  color: #ffffff;
  margin: 0;
  text-align: left;
}
.titleForm {
  font-family: "Halogen-Regular";
  font-size: 30px;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.titleFormTitle {
  font-family: "Halogen-Regular";
  font-size: 36px;
  color: #ffffff;
  margin: 0;
  text-align: left;
}

.boxForm {
  background-color: #102d69;
  opacity: 3;
  width: 50px;
  height: 30px;
  border: none;
  outline: none;
}

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.popup_open {
  position: absolute;
  top: 25%;
  bottom: 25%;
  margin: auto;
}
.fade-in {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeIn 3s ease forwards;
  font-size: 2.5em;
  font-weight: bold;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation-container {
  margin-left: 20px;
}
/* Estilos para el contenedor del slider */
.slider-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(
    100vh - 15vh
  ); /* Tamaño de la pantalla menos la altura del topbar */
}

/* Estilos para el slider */
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* El slider ocupa toda la altura disponible en el contenedor */
}

/* Estilos para los slides */
.slide img {
  width: auto;
  height: 100vh; /* Los slides ocupan toda la altura disponible en el slider */
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-text {
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .textForm {
    font-size: 0.9em; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .textFormW {
    font-size: 0.8em; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .textFormError {
    font-size: 0.8em; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }

  .textTerm {
    font-size: 0.7em; /* Tamaño de fuente más pequeño para dispositivos móviles */
  }
}
/* === Flechas Prev / Next === */
.custom-carousel .carousel-control-prev,
.custom-carousel .carousel-control-next {
  width: 5%; /* área clickeable */
  z-index: 5;
}

.custom-carousel .carousel-control-prev-icon,
.custom-carousel .carousel-control-next-icon {
  background-size: 40px 40px; /* tamaño flechas */
  filter: invert(1) brightness(200%); /* blanco */
}

/* === Dots (indicadores) === */
.custom-carousel .carousel-indicators {
  bottom: 15px; /* distancia desde abajo */
  z-index: 6;
}

.custom-carousel .carousel-indicators li {
  background-color: #ffffff; /* blanco */
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
}

.custom-carousel .carousel-indicators .active {
  background-color: #ff0000; /* rojo */
  opacity: 1;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* Estilos para pantallas más pequeñas que 600px de ancho */
@media screen and (max-width: 1024) {
  .footer {
    /* Ajustar estilos para pantallas pequeñas */
    height: 80px; /* Por ejemplo, ajusta la altura */
    font-size: 0.8em; /* Ajusta el tamaño de fuente */
    /* Agrega más estilos según sea necesario */
  }
  .custom-carousel .carousel-control-prev {
    left: 2%; /* Move to the left outside of the carousel */
  }
  ,
  .custom-carousel .carousel-control-next {
    right: 4%; /* Move to the right outside of the carousel */
  }
}

/* Estilos para pantallas entre 600px y 900px de ancho */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .footer {
    /* Ajustar estilos para pantallas medianas */
    height: 80px; /* Por ejemplo, ajusta la altura */
    font-size: 1em; /* Ajusta el tamaño de fuente */
    /* Agrega más estilos según sea necesario */
  }
}

/* Estilos para pantallas más grandes que 900px de ancho */
@media screen and (max-width: 1024px) {
  .footer {
    /* Ajustar estilos para pantallas grandes */
    height: 100px; /* Por ejemplo, ajusta la altura */
    font-size: 1.2em; /* Ajusta el tamaño de fuente */
    /* Agrega más estilos según sea necesario */
  }
}
/* Position the carousel controls outside the images */
.custom-carousel .carousel-indicators {
  bottom: -40px; /* Ajusta este valor para posicionarlos más abajo */
}

@media (max-width: 1024px) {
  .custom-carousel .carousel-indicators {
    bottom: -40px; /* En dispositivos móviles */
  }
}
