.concepto-content {
  display: flex;
  flex: 1;
  height: 100%; /* Asegura que el contenedor principal ocupe el 100% del alto */
  justify-content: center;
  width: 100%; /* Asegura que el contenido no se desborde en pantallas pequeñas */
  gap: 10%; /* Espacio entre elementos */
}

@media screen and (max-width: 500px) {
  .concepto-content {
    gap: 0; /* Si es una pantalla pequeña, elimina el espacio entre elementos */
  }
}

.left-column {
  width: 50%; /* Ancho predetermcustom-carouselinado */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-content: center; /* Centra verticalmente el contenido */
  text-align: center; /* Alinea el texto al centro */
}

@media screen and (max-width: 500px) {
  .left-column {
    width: 100%; /* En pantallas pequeñas, ocupa todo el ancho */
	margin-top:15%;
  }
}

@media screen and (max-width: 500px) {
.right-column {
  flex: 1;
 text-align: center;
}
}
.left-column img {
text-align: center;

}
.right-column img {
text-align: center;

}
/* Estilos para la columna derecha (video) */
.right-column {
 width: 50%; /* Ancho predeterminado */
  justify-content: center; /* Centra horizontalmente el contenido */
  align-content: center; /* Centra verticalmente el contenido */
  text-align: center; /* Alinea el texto al centro */
}

iframe {
  width: 100vw;
  height: 360px;
  border: none;
}

/* Estilos para la sección de texto */
.text-section {
  /*padding: 20px;*/
  text-align: center;
}

/* Estilos para los botones */
/* Estilos para la contenedor de botones */
.button-section {
  display: flex;
  justify-content: center;
  background-color: transparent;
  flex-direction: row; /* Cambia la dirección de flex a columna en pantallas más pequeñas */
}
@media (max-width: 790px) {
  .button-section {
    justify-content: center;
    flex-direction: column;
  }
}
.custom-button {
  background-color: transparent;
  border: none;
  margin: 10px;
  cursor: pointer;
}

.custom-button img {
  max-width: 70%;
  height: auto;
}

/* Estilos para el fondo */
.concepto-background {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
}

.textpage {
  font-family: "Montserrat-Regular";
  font-size: 1em;
  text-align: left;
  /*padding: 20px;*/
  color: #ffffff;
}

/* Media Query para pantallas más pequeñas (menos de 790px) */
@media (max-width: 790px) {
  .concepto-content {
    flex-direction: column; /* Cambia la dirección de flex a columna */
    align-items: center;
  }

  .left-column,
  .right-column {
    text-align: center;

  }
}
